extends ./layout.pug
block header
  h1 Angular Playground
block body
  div(ng-controller="TodoListController as vm")
    label Filter Tasks:
    input(type="text" ng-model="toFilter")
    ul
      li(ng-repeat="todo in vm.todoList | filter: { name: toFilter, completedAt: null } track by $index")
        input(type="checkbox" ng-click="vm.removeTodo(todo)")
        |  {{ todo.name }} ({{ todo.createdAt | date:'shortDate' }})

    input(ng-model="toAdd" type="text")
    button(ng-click="vm.addTodo(toAdd); toAdd = ''") Add it!
  hr
  div(ng-controller="TodoListController as vm2")
    p Completed Tasks:
    label Filter Complete Tasks:
    input(type="text" ng-model="FilterComplete")
    ul
      li(ng-repeat="todo in vm2.todoList | filter: { name: FilterComplete, completedAt: '' } track by $index")
        input(type="checkbox" ng-click="vm2.deleteTodo(todo)")
        |  {{ todo.name }} ({{ todo.createdAt | date:'shortDate' }})
  hr
  div(ng-controller="TodoListController as otherVm")
    p There are {{ otherVm.todoList.length }} total items.
